.dropdown {
  position: relative;
  background-color: #515151;
  color: #f0f0f0;
  border-radius: 4px;

  &__wrapper {
    background-color: #515151;
    position: absolute;
    display: none;

    width: auto;
    min-width: 100px;
    z-index: 100;
    border-radius: 0 0 4px 4px;
  }

  &__content {
    max-height: 184px;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    & > :nth-child(n) {
      padding: 6px;
    }
  }

  &_opening-state_hover {
    .dropdown__label:hover ~ .dropdown__wrapper {
      display: block;
    }
  }

  .dropdown__wrapper:hover {
    display: block;
  }

  &_open {
    border-radius: 4px 4px 0 0;
    .dropdown__wrapper {
      display: block;
    }
  }

  &_close {
    .dropdown__wrapper {
      display: none;
    }
  }
}
